@use "@angular/material" as mat;
@import "../../../styles/global.scss";

.nav-bar {
  height: 60px;
  display: flex;
  padding: 1em 0 0 4em;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 300;
  @include mat.elevation(6);
  background-color: #1f1a38;
  color: white;

  @include respond-to(handhelds) {
    padding: 1em 0 0 1em;
  }
}

.nav-content {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
}

.logo {
  font-size: 32px;
  width: 200px;
  cursor: pointer;
  display: flex;
  padding: 8px 8px;
  color: #fed766;

  @include respond-to(handhelds) {
    font-size: 20px;
    padding: 16px 8px;
    width: fit-content;
  }
}

.logo span {
  padding: 8px;

  @include respond-to(handhelds) {
    padding: 0 0 0 8px;
  }
}

.search-item {
  width: 400px;

  @include respond-to(handhelds) {
    width: 80%;
  }
}
