@import "../../../styles/global.scss";

.section {
  min-height: 93vh;
  width: 100%;
  max-width: 1080px;
  font-size: 16px;
  margin-bottom: 12px;
  margin: auto;
  padding: 16px 32px;

  @include respond-to(handhelds) {
    padding: 8px;
    width: 90%;
  }
}

.content {
  min-height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  @include respond-to(handhelds) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.artists-title {
  font-weight: 600;
  font-size: 32px;
  margin: 20px 0 20px 8px;
}

.artist-title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 20px;

  @include respond-to(handhelds) {
    font-size: 20px;
    margin-bottom: 12px;
  }
}

.card-item {
  height: 250px;
  width: 240px;
  margin: 8px;
  padding: 0;
  border-radius: 4px;
  cursor: pointer;

  @include respond-to(handhelds) {
    width: 45%;
    height: fit-content;
    margin: 8px 0;
  }
}

.card-image {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 180px;
  width: 100%;
  object-position: center;
  object-fit: cover;

  @include respond-to(handhelds) {
    width: 100%;
  }
}

.card-content {
  height: 100%;
  width: 100%;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.card-title {
  height: 100%;
  font-weight: 500;
  min-height: 55px;
  font-size: 18px;

  @include respond-to(handhelds) {
    font-size: 16px;
  }
}
