<div *ngIf="isLoading" class="app-loader"><mat-spinner></mat-spinner></div>
<div class="section" *ngIf="!isLoading">
  <div class="content">
    <mat-card class="card-item" *ngFor="let artist of artists; index as i; first as isFirst"
      (click)="openArtistDetails(artist.id)">
      <div mat-card-image class="card-image">
        <img src="{{ artist.picture_big }}" alt="Photo of {{ artist.name | ucwords }}" />
      </div>
      <mat-card-content class="card-content">
        <p class="artist-title">
          {{ artist.name | ucwords }}
        </p>
        <p class="fan-count"><fa-icon [icon]="['fas', 'users']"></fa-icon> {{ artist.nb_fan | number }} Fans</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>