@use "@angular/material" as mat;
@import "../../../styles/global.scss";

.section {
  min-height: 93vh;
  width: 100%;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.content {
  margin: 32px auto;
  min-height: 50vh;
  max-width: 1366px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.artist-title {
  font-size: 20px;
  margin-bottom: 14px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @include respond-to(handhelds) {
    font-size: 16px;
    margin-bottom: 8px;
  }
}

.card-item {
  height: fit-content;
  width: 300px;
  margin: 32px 16px;
  padding: 0;
  border-radius: 8px;
  cursor: pointer;

  @include mat.elevation(4, #2772db);

  @include respond-to(handhelds) {
    width: 45%;
    height: fit-content;
    margin: 1em auto;
  }

  &:hover {
    @include mat.elevation(4, #dcb5ff);
    color: #070f4e;
  }
}

.card-image {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  flex-grow: 1;
  width: 100%;
  margin: auto;
  height: 20em;

  @include respond-to(handhelds) {
    height: 10em;
  }
}

.card-content {
  width: 100%;
  padding: 4px 16px;
  display: flex;
  flex-direction: column;
}

.card-title {
  height: 100%;
  font-weight: 500;
  min-height: 55px;
  font-size: 18px;

  @include respond-to(handhelds) {
    font-size: 16px;
  }
}
