<mat-list class="tracklists">
    <mat-list-item *ngFor="let track of tracks; index as i" class="track-details"
        style="height: fit-content; padding: 4px 0;">
        <div>
            <mat-divider *ngIf="i < tracks.length -1"></mat-divider>
            <p>{{ i + 1 }}. {{ track.title }}</p>
            <span>
                <fa-icon [icon]="['fas', 'record-vinyl']"></fa-icon>
                <span>{{ track.album.title }}</span>
            </span>
            <app-track-player [track]="track"></app-track-player>
            <mat-chip-list style="padding: 4px 0;">
                <mat-chip *ngFor="let artist of track.contributors; index as i" (click)="loadArtistProfile(artist.id)">
                    <mat-chip-avatar>
                        <img src="{{artist.picture_small}}" alt="{{artist.name}}" />
                    </mat-chip-avatar>
                    {{ artist.name }}
                </mat-chip>
            </mat-chip-list>
        </div>
        <div class="spacer"></div>
        <div class="track-duration">
            <a href="{{track.link}}" target="_blank">
                <fa-icon [icon]="['far', 'arrow-alt-circle-right']" size="lg"></fa-icon>
            </a>
        </div>
    </mat-list-item>
</mat-list>