@use "@angular/material" as mat;
@import "../../../styles/global.scss";

.section {
  min-height: 93vh;
  width: 100%;
  font-size: 16px;
  display: flex;
  justify-content: center;

  @include respond-to(handhelds) {
    padding: 0;
  }
}

.content {
  min-height: 50vh;
  max-width: 1080px;
  width: 100%;
  display: flex;
  flex-direction: column;

  @include respond-to(handhelds) {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.artist-info {
  width: 100%;
  min-height: 45vh;
  height: 45vh;
  display: flex;
  flex-direction: row;
  padding: 0;

  @include respond-to(handhelds) {
    flex-direction: column;
    height: fit-content;
  }
}

.artist-profile {
  width: 45%;
  padding: 0;
  flex-grow: 1;

  @include mat.elevation(0);

  @include respond-to(handhelds) {
    width: 100%;
  }
}

.mat-card.artist-profile {
  padding: 0;
  margin: 0;
  border-radius: 4px;
}

.artist-tracks {
  width: 50%;
  @include mat.elevation(0);

  @include respond-to(handhelds) {
    width: 100%;
    padding: 20px 0;
  }
}

.artist-image {
  height: 100%;
  width: 100%;
  padding: 0;
}

.track-details {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.spacer {
  flex-grow: 1;
}

.album-section {
  min-height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @include respond-to(handhelds) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.card-item {
  height: 320px;
  width: 240px;
  margin: 8px;
  padding: 0;
  cursor: pointer;

  @include respond-to(handhelds) {
    width: 40%;
    height: fit-content;
  }
}

.card-image {
  width: 100%;
  flex-grow: 1;

  @include respond-to(handhelds) {
    width: 100%;
  }
}

.card-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 8px 0;
}

.card-title {
  height: 100%;
  font-weight: 500;
  min-height: 55px;
  font-size: 18px;

  @include respond-to(handhelds) {
    font-size: 16px;
  }
}

.title {
  width: 100%;
  margin: 32px 0 8px 0;
  font-size: 2em;
  font-weight: 500;

  @include respond-to(handhelds) {
    padding-left: 8px;
    font-size: 1.5em;
  }
}

.album-title {
  line-height: 1.2em;
  height: 2.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  font-weight: 600;
}

.artist-data {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 32px 0;

  @include respond-to(handhelds) {
    margin: 32px 8px;
  }
}

.artist-name {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 24px;

  @include respond-to(handhelds) {
    font-size: 24px;
  }
}
.artist-fan-count {
  font-size: 20px;
  font-weight: 400;
  width: fit-content;

  @include respond-to(handhelds) {
    font-size: 16px;
    font-style: italic;
  }
}
