@use "@angular/material" as mat;
@import "../../../styles/global.scss";

.section {
  min-height: 93vh;
  width: 100%;
  font-size: 16px;
  display: flex;
  justify-content: center;

  @include respond-to(handhelds) {
    padding: 0;
  }
}

.content {
  min-height: 50vh;
  max-width: 1080px;
  width: 100%;
  display: flex;
  flex-direction: column;

  @include respond-to(handhelds) {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.artist-info {
  width: 100%;
  min-height: 45vh;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 2em;

  @include respond-to(handhelds) {
    flex-direction: column;
    height: fit-content;
    margin-top: 0;
  }
}

.artist-name,
.artist-fan-count {
  text-align: center;
  margin: 8px auto;
}

.artist-profile {
  width: 400px;
  padding: 0;
  flex-grow: 1;

  @include mat.elevation(0);

  @include respond-to(handhelds) {
    width: 100%;
  }
}

.mat-card.artist-profile {
  padding: 0;
  margin: 0;
  border-radius: 4px;
}

.artist-tracks {
  width: 100%;
  @include mat.elevation(0);

  @include respond-to(handhelds) {
    width: 100%;
    padding: 20px 0;
  }
}

.artist-image {
  width: 30%;
  padding: 0;
  margin: 8px auto;
  border-radius: 8px;

  @include respond-to(handhelds) {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
}

.album-section {
  min-height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @include respond-to(handhelds) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.card-item {
  height: fit-content;
  width: 240px;
  margin: 8px;
  padding: 0;
  cursor: pointer;
  border: 1px solid lightgray;

  @include respond-to(handhelds) {
    width: 45%;
  }
}

.card-image {
  width: 100%;
  flex-grow: 1;

  @include respond-to(handhelds) {
    width: 100%;
  }
}

.card-content {
  min-height: 10vh;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 8px;
}

.card-title {
  height: 100%;
  font-weight: 500;
  min-height: 55px;
  font-size: 18px;

  @include respond-to(handhelds) {
    font-size: 16px;
  }
}

.title {
  width: fit-content;
  margin: 32px 0 0 16px;
  font-size: 20px;
  font-weight: 500;

  @include respond-to(handhelds) {
    font-size: 16px;
  }
}

.album-title {
  line-height: 1.2em;
  height: 2.25em;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  font-weight: 600;
}

.album-record-info {
  width: 100%;
}

.album-record-info .ng-fa-icon {
  margin-right: 4px;
}

.artist-data {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 32px 0;

  @include respond-to(handhelds) {
    margin: 32px 8px;
  }
}

.artist-name {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 24px;
  color: #003249;

  @include respond-to(handhelds) {
    font-size: 24px;
  }
}
.artist-fan-count {
  font-size: 20px;
  font-weight: 400;
  width: fit-content;

  @include respond-to(handhelds) {
    font-size: 16px;
    font-style: italic;
  }
}
