<div class="section">
  <div *ngIf="isHandset$ | async; else wideView" class="content">
    <div class="artist-info">
      <div class="artist-data">
        <div class="artist-name">{{ profile && profile.name }}</div>
        <div class="artist-fan-count">
          {{ profile && profile.nb_fan | number }} Fans
        </div>
      </div>
      <mat-card class="artist-profile">
        <img class="artist-image" src="{{ profile && profile.picture_big }}"
          alt="Photo of a {{ profile && profile.name }}" />
      </mat-card>
      <mat-card class="artist-tracks">
        <mat-card-title class="title">Top Tracks</mat-card-title>
        <mat-card-content>
          <mat-list>
            <mat-list-item *ngFor="let track of topTracks; index as i">
              <div class="track-details">
                <div>{{ i + 1 }}. {{ track.title_short }}</div>
                <div class="spacer"></div>
                <div>{{ track.duration }}</div>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="title">Albums ({{ profile && profile.nb_album }})</div>
    <div class="album-section">
      <div *ngFor="let album of albums; index as i" class="card-item">
        <img class="card-image" src="{{ album.cover_big }}" alt="Photo of {{ album.title }}" />
        <div class="card-content">
          <p class="album-title">{{ album.title }}</p>
          <p>{{ album.release_date | date: "EEE, MMMM d, y" }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #wideView>
  <div class="content">
    <div class="artist-data">
      <div class="artist-name">{{ profile && profile.name }}</div>
      <div class="artist-fan-count">
        {{ profile && profile.nb_fan | number }} Fans
      </div>
    </div>
    <mat-card class="artist-info">
      <mat-card class="artist-profile">
        <img class="artist-image" src="{{ profile && profile.picture_big }}" alt="Photo of a Shiba Inu" />
      </mat-card>
      <mat-card class="artist-tracks">
        <mat-card-title>Top Tracks</mat-card-title>
        <mat-card-content>
          <mat-list>
            <mat-list-item *ngFor="let track of topTracks; index as i">
              <div class="track-details">
                <div>{{ i + 1 }}. {{ track.title_short }}</div>
                <div class="spacer"></div>
                <div>{{ track.duration }}</div>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </mat-card>
    <p class="title">Albums</p>

    <div class="album-section">
      <div *ngFor="let album of albums; index as i" class="card-item">
        <img class="card-image" src="{{ album.cover_big }}" alt="Photo of {{ album.title }}" />
        <div class="card-content">
          <p class="album-title">{{ album.title | ucwords }}</p>
          <p>{{ album.release_date | date: "EEE, MMM d, y" }}</p>
        </div>
      </div>
    </div>
  </div>
</ng-template>